[Unit]
Description=Logs memory.current of all cgroups directly beneath /sys/fs/cgroup to syslog.
 
[Service]
Type=oneshot
ExecStart=/usr/sbin/log_current_memory
