[Unit]
Description=Log memory.current of cgroups directly beneath /sys/fs/cgroup to syslog.
Wants=SAP.slice
After=SAP.slice
 
[Service]
Type=oneshot
ExecStart=/usr/lib/sapwmp/wmp-sample-memory
