[Unit]
Description=Log memory.current of cgroups directly beneath /sys/fs/cgroup to syslog.
 
[Service]
Type=oneshot
ExecStart=/usr/lib/sapwmp/wmp-sample-memory
